<% include header.ejs %>
<main>  
    <div class="main_items">  
      <h2 class="month" ><%= data.month %></h2>         
        <% for (let i = 0; i < data.categories.length; i++) { %>
          <div class="category">
            <p><%= data.categories[i].name %></p>
            <% for(let j = 0; j < data.categories[i].dishes.length; j++) { %>
              <div class="dish">
                <img src="<%= data.categories[i].dishes[j].img %>" alt="" height='150px'>
                <div class="info">
                  <div class="dishName">"<%= data.categories[i].dishes[j].dish %>"</div>
                  <div class="dishCost">Цена: <%= data.categories[i].dishes[j].cost %></div>
                  <div class="dishRestaurant">Ресторан: "<%= data.categories[i].dishes[j].restaurant %>"</div>
                </div>
                <div class="description">
                  <p><%= data.categories[i].dishes[j].description  %></p>
                </div>
                <% const width = data.categories[i].dishes[j].isFavorite ? '80px' : '0px'%> 
                      <img class="like" src="/img/blackHeart.png" width="40px" alt="likes">
                      <span class="amount"><%= parseInt(Math.random() * 100) %></span>
                    <img class="top" src="/img/star.png" width="<%= width %>" alt="star">
                <div class="date">
                    <p><%= data.categories[i].dishes[j].date  %></p>
                </div>                    
              </div>
            <% } %>
            </div>
          <% } %>             
      </div>
    </div>
</main>
<script src="js/script.js"></script>
<% include footer.ejs %>